Theme Name: Micecon
Theme URI: http://#project_url
Author: iConcept Global Advertising Inc.
Author URI: http://www.iconcept.com.ph
Description: This is "micecon" theme developed and design by iConcept Global Advertising Inc. and approved by the clients needs and wants.
Version:
License:
License URI:
Tags:
Text Domain: micecon
*/

/*------------------------------------------------------------------------------------------------------------------------------*/
/* RESET CSS                                        																			*/
/*------------------------------------------------------------------------------------------------------------------------------*/

html, body { margin: 0;padding: 0;font-family: "Open Sans",Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #666; }
h1, h2, h3, h4, h5, h6 { padding: 0;font-weight: bold; }
p, dl, dd, address, li { padding: 0;text-decoration: none;font-family: "Open Sans",Helvetica,Arial,sans-serif;line-height: 1.42857143; }
ul { margin: 0; }
.show-grid { margin-bottom: 15px; }
.show-grid2 { margin-bottom: 30px; }
.short-title { white-space: nowrap;overflow: hidden;text-overflow: ellipsis; }

table {  }
th { font-size: 14px; }
td { font-size: 13px; }
hr { border: 1px solid #b7b7b7; }
.img-thumbnail { border: 6px solid #e9e9e9;border-radius: 0;padding: 0; }


/*------------------------------------------------------------------------------------------------------------------------------*/
/* SOME WORDPERSS DEFAULT CLASS  																								*/
/*------------------------------------------------------------------------------------------------------------------------------*/
.aligncenter ,
div.aligncenter { display: block; margin: 5px auto 5px auto; }
.alignright { float: right; margin: 5px 0 15px 20px; }
.alignleft { float: left; margin: 5px 20px 15px 0; }
a img.alignright { float: right; margin: 5px 0 20px 20px; }
a img.alignnone { margin: 5px 20px 20px 0; }
a img.alignleft { float: left; margin: 5px 20px 20px 0; }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto }
.wp-caption { background: #fff; border: 1px solid #f0f0f0; max-width: 96%; padding: 5px 3px 10px; text-align: center; }
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px; }
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }
.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; }

/*------------------------------------------------------------------------------------------------------------------------------*/
/* START HEADER STYLE 																											*/
/*------------------------------------------------------------------------------------------------------------------------------*/
#header {  }

.menu-container { background: url(images/menu-bg.jpg) repeat-x; }

ul#menu-primary { margin: 0;padding: 0;list-style: none;font-size: 0;text-align: center; }
ul#menu-primary:after { content: "";clear: both;display: block; }
ul#menu-primary > li { display: inline-block; position:relative; }
ul#menu-primary > li > a { font-family: 'Open Sans Condensed', helvetica, arial, sans-serif;font-size: 14px;color: #fff;padding: 17px 12px;height: 53px;text-transform: uppercase;font-weight: 600;display: block;text-decoration: none; }
ul#menu-primary > li:hover, ul#menu-primary > li > a:hover { background: #df7011; }

ul#menu-primary > li:hover ul { display: block; }
ul#menu-primary > li > ul {
  position: absolute;
  top: 100%;
  z-index: 9999999;
  text-align: left;
  background-color: #F57C15;
  margin: 0;
  padding: 0;
  min-width: 150px;
  display: none;
}
ul#menu-primary > li > ul > li {
  display: block;
}
ul#menu-primary > li > ul > li > a {
  font-size: 14px;
  padding: 10px 20px;
  color: #fff;
  display: block
}
ul#menu-primary > li > ul > li > a:hover {
  background-color: #df7011;
  text-decoration: none;
}

.page .menu-container,
.archive .menu-container,
.single .menu-container { width: 100%;background: rgba(245, 124, 21, 0.6);position: absolute;z-index: 100; }

#logo { margin-top: 10px;position: relative;z-index: 10; }

.page #logo,
.archive #logo,
.single #logo { z-index: 0;padding-top: 90px;margin-top: 0; }

#banner { position: relative; }
#banner .swiper-slide .slide { background-size: cover;background-position: bottom center; }
#banner #banner-overlay { width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 1;overflow: hidden; }
#banner #banner-overlay #banner-content-text { width: 100%;position: absolute;top: 0;padding: 15% 0 0; }
#banner #banner-overlay #banner-content-text h2 { font-size: 94px;font-weight: 700;font-family: 'Open Sans Condensed', helvetica, sans-serif;color: #fff;margin-bottom: 30px; }
#banner #banner-overlay #banner-content-text h3 { color: #fff;font-weight: 500;font-family: 'Open Sans', helvetica, sans-serif; }
#banner #banner-overlay #banner-content-text h4 { margin-bottom: 20px;color: #fff;font-weight: 500;font-family: 'Open Sans', helvetica, sans-serif; }
#registration_links { list-style: none;padding: 0;margin: 0;text-align: center; }
#registration_links > li { display: inline-block;margin: 0 5px; }

#image-banner { min-height: 261px;background-image: url(images/default-image-banner.jpg);background-size: cover;background-repeat: no-repeat;background-position: top center; }
/*------------------------------------------------------------------------------------------------------------------------------*/
/* END HEADER STYLE 																											*/
/*------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------*/
/* START CONTENT STYLE 																											*/
/*------------------------------------------------------------------------------------------------------------------------------*/
.bordered-title { font-family: "Open Sans Condensed",Helvetica,Arial,sans-serif;position: relative;margin-top: 0;margin-bottom: 25px;position: relative;color: #148c9d;letter-spacing: 2px;font-weight: 700;text-transform: uppercase; }
.bordered-title:after { content: '';position: absolute;left: 0;bottom: -10px;height: 5px;width: 50%; }
.bordered-title.colored:after { background: #f28500; }
.welcome-image { margin-top: -57px; }

#content-area {  }

#welcome .bordered-title {  }
#welcome .bordered-title:after { background: #f28500; }

#event { background-size: cover;background-position: center;padding-bottom: 36px; }
.home #event .bordered-title { margin-top: 0;margin-bottom: 25px;position: relative;color: #fff;letter-spacing: 2px;font-weight: 700;text-transform: uppercase; }
.home #event .bordered-title:after { background: #fff; }

.page .event-details { background: #f28500; }

.event-details { margin: 0; padding: 25px 17px; background: rgba(0,0,0,.5); }
.event-details li { display: block;list-style: none; margin-bottom: 20px; }
.event-details li:before,
.event-details li:after { content: "";display: block;clear: both; }
.event-details .detail-icon { width: 16%;  }
.event-details .detail-icon,
.event-details .detail-text { float: left; display: block; }
.event-details .detail-text { width: 84%; font-size: 20px;color: #fff;padding-top: 10px; padding-left: 20px;text-transform: uppercase; }
.event-location iframe { min-width: 100%;min-height: 290px; }

#news { padding: 30px 0;background-color: #efefef; }
.news-title { font-family: "Open Sans",Helvetica,Arial,sans-serif;font-size: 36px; font-weight: 700;color: #393939; }
.news-description{ font-size: 18px;font-weight: 600;font-style: oblique;margin-bottom: 45px; }
.news-grid-cont { margin-bottom: 45px; }
.news-grid{ position:relative; min-height: 290px; background-size: cover; background-repeat: no-repeat;background-position: center;  }
.news-grid.news-image { background-color: rgb(255, 165, 88); }
.news-grid img{ visibility: hidden;  }
.news-item-wrap{ padding: 30px;background: #fff;height: 290px;overflow: hidden; }
.news-item-title { font-family: "Open Sans",Helvetica,Arial,sans-serif;font-size: 16px;font-weight: 700;text-transform: uppercase;color: #4e4e4e;max-height: 225px;overflow: hidden; }
.news-item-date { font-weight: 700;font-size: 14px; }
.news-item-excerpt { max-height: 105px;overflow: hidden; }
.news-item-button { border: 1px solid #158fbe;display: inline-block;padding: 3px 20px 4px;text-transform: lowercase;background-color: #40aebb;text-decoration: none;font-size: 12px;border-radius: 8px;color: #fff; }
.news-item-button:hover,
.news-item-button:active { text-decoration: none;color: #fff; }
.news-grid:before { z-index: 1; }
.news-arrow-tl .news-details:before { content: '';position: absolute;width: 0; height: 0; border: 15px solid transparent; top: -30px; left: 40px; border-bottom-color: #fff; }
.news-arrow-rt .news-details:before { content: '';position: absolute;width: 0; height: 0; border: 15px solid transparent; right: -30px; top: 40px; border-left-color: #fff; }
.news-arrow-lt .news-details:before { content: '';position: absolute;width: 0; height: 0; border: 15px solid transparent; left: -30px; top: 40px; border-right-color: #fff; }
.news-arrow-bl .news-details:before { content: '';position: absolute;width: 0; height: 0; border: 15px solid transparent; bottom: -30px; left: 40px; border-top-color: #fff; }
.news-view-all-btn{ text-transform: uppercase;background-color: #d00000; padding: 10px 45px;border-radius: 10px;border: 1px solid #8d0000; font-size: 16px;font-weight: 700;color: #fff; }
.news-view-all-btn:hover,
.news-view-all-btn:active { color: #fff; }

#mobile-app { padding: 30px 0;  background-repeat: no-repeat;background-size: cover;background-position: center; }
#mobile-app h3 { font-family: "Open Sans",Helvetica,Arial,sans-serif;font-size: 36px;font-weight: 700;padding-bottom: 0;margin-bottom: 25px;color: #fff; }
#mobile-app p { font-family: "Open Sans",Helvetica,Arial,sans-serif;font-size: 22px;font-weight: 500;margin-bottom: 52px;color: #fff; }

#sponsors-section { padding: 40px 0 30px; }
#sponsors-section ul { margin: inherit; }
#sponsors-section .bordered-title:after { background-color: #f28500;width: 100%; }
.sponsors-title { font-family: 'Open Sans Condensed', helvetica, sans-serif;font-size: 20px;font-weight: 700;color: #148c9d;text-transform: uppercase;/* margin-bottom: 35px; */ }
.sponsors-logos { font-size: 0; }
.sponsors-logos li { margin-bottom: 20px;vertical-align: top; }
.sponsors-logos li img { margin: auto; }
/* .sponsors-sponsors img { height: 66px; } */

#page-content { padding: 30px 0; }
#page-content .bordered-title { font-family: "Open Sans Condensed",Helvetica,Arial,sans-serif; }

.additional-content { margin: 35px -15px 0; }

.news {  }
.news:after { content: "";clear: both;display: block; }
img.item-thumbnail { width: 175px;height: 175px;float: left;margin: 0 15px 10px 0;border: 3px solid #e9e9e9; }
.news-meta { display: block;color: #41b1d9;font-weight: 700;font-size: 13px; }
.list-title { font-family: 'Open Sans', helvetica, sans-serif;font-weight: 700; }
.list-content {  }
.news a { border: 1px solid #158fbe;display: inline-block;padding: 3px 15px 4px;text-transform: lowercase;background-color: #40aebb;text-decoration: none;font-size: 12px;border-radius: 8px;color: #fff; }

.tl-arrow:before { content: '';position: absolute;width: 0;height: 0;border: 15px solid transparent;top: -30px;left: 40px;border-bottom-color: #fff;z-index: 10; }
.rt-arrow:before { content: '';position: absolute;width: 0;height: 0;border: 15px solid transparent;right: -30px;top: 40px;border-left-color: #fff;z-index: 10; }
.lt-arrow:before { content: '';position: absolute;width: 0;height: 0;border: 15px solid transparent;left: -30px;top: 40px;border-right-color: #fff;z-index: 10; }
.bl-arrow:before { content: '';position: absolute;width: 0;height: 0;border: 15px solid transparent;bottom: -30px;left: 40px;border-top-color: #fff;z-index: 10; }

.single-news-title { font-family: 'Open Sans', helvetica, sans-serif;font-weight: 700; }

.user-delegates a { display: block;padding: 8px 15px;background-color: #00A0d2;color: #fff;text-decoration: none;margin-bottom: 6px;font-size: 16px;font-weight: 700; }
.user-delegates a.active-user,
.user-delegates a:hover,
.user-delegates a:focus { background-color: #f28500; }

.breakout-sessions .session-time { width: 140px;text-align: center; }
.breakout-sessions .button, #summary .button { float: right;border-radius: 0;padding: 10px 16px;padding-left: 20px;padding-right: 20px;font-size: 18px;line-height: 1.3333333;border-radius: 0;color: #fff;background-color: #5cb85c;border-color: #4cae4c;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;white-space: nowrap;touch-action: manipulation;display: inline-block;margin-bottom: 0;margin-left: 5px;font-weight: normal;text-align: center;vertical-align: middle; }
.breakout-sessions .button:hover, .breakout-sessions .button:focus,
#summary .button:hover, #summary .button:focus { color: #fff;background-color: #449d44;border-color: #398439;color: #333;text-decoration: none; }
.breakout-sessions #submit { position: relative;float: right; }
.breakout-sessions #submit:before { content: url('images/loading.GIF');position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: rgba( 255, 255, 255, 0.6 );padding: 7px;text-align: center;visibility: hidden; }
.breakout-sessions #submit.disable:before { visibility: visible; }
.breakout-sessions #submit:after { content: "";display: block;clear: both; }
#summary { position: fixed;z-index: 15;display: none;top: 10%;width: 60%;background: #fff;padding: 25px; }
#summary h4 { margin-top: 0; }
#summary p { margin-bottom: 0; }
.overlay { position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 10;background: rgba(0, 0, 0, 0.5);display: none; }
.close-summary { position: absolute;top: 0;right: 0;z-index: 5;font-size: 15px;background: #F28500;padding: 12px 12px 10px;cursor: pointer;color: #fff; }
.close-summary:hover { background: #cf0000; }
.summary-title { position: relative;color: #148c9d;margin-bottom: 35px;font-weight: 600; }
.summary-title:after { content: '';position: absolute;left: 0;bottom: -10px;height: 1px;width: 50%;background: #f28500; }

.breakout-session-selection p { margin-bottom: 0;color: #000; }
.download-summary-btn { width: 100%;float: right;border-radius: 0;margin-top: 10px;padding: 8px 10px;font-size: 18px;line-height: 1.3333333;border-radius: 0;color: #fff;background-color: #5cb85c;border-color: #4cae4c;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;white-space: nowrap;touch-action: manipulation;display: inline-block;margin-bottom: 10px;font-weight: normal;text-align: center;vertical-align: middle; }
.download-summary-btn:focus,
.download-summary-btn:active,
.download-summary-btn:hover { background-color: #449d44;border-color: #398439;color: #333;text-decoration: none; }


/* REGISTRATION FORM */
.micecon-registration-form {  }
.micecon-registration-form .acf-field .acf-error-message { margin-top: 6px; }
.micecon-registration-form .acf-field .acf-error-message:after { top: -10px;border-top-color: transparent;border-bottom-color: #F55E4F; }
.micecon-registration-form legend { color: #148c9d;border-color: #f28500;padding-bottom: 8px; }

.frontend-visible { display: block; }

.form-control,
.hasDatepicker { background-color: #fafafa;border: 1px solid #e9e9e9;box-shadow: none;outline: none;border-radius: 0;color: #888; }
.form-control:focus,
.form-control:active { box-shadow: none;-moz-box-shadow: none; }
.micecon-registration-form .form-control,
.micecon-registration-form .hasDatepicker { height: 38px; }
.micecon-registration-form textarea.form-control,
.micecon-registration-form ul.form-control.acf-checkbox-list { height: auto; }
.micecon-registration-form ul.form-control.acf-checkbox-list { font-weight: 500;border: none;-webkit-column-count: 2;-moz-column-count: 2;column-count: 2; }

.acf-field:after { content: '';display: block;clear: both; }

.micecon-registration-form .acf-form-submit .button { float: right;border-radius: 0;padding-left: 20px;padding-right: 20px;padding: 10px 16px;font-size: 18px;line-height: 1.3333333;border-radius: 0;color: #fff;background-color: #5cb85c;border-color: #4cae4c;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;white-space: nowrap;touch-action: manipulation;display: inline-block;margin-bottom: 0;font-weight: normal;text-align: center;vertical-align: middle; }
.micecon-registration-form .acf-form-submit .button:hover, .micecon-registration-form .acf-form-submit .button:focus { color: #fff;background-color: #449d44;border-color: #398439;color: #333;text-decoration: none; }
.micecon-registration-form .acf-button { font-size: 12px; border-radius: 0; padding: 5px 10px; height: auto; box-shadow: none;background-color: #f28500;border: 0; }
.micecon-registration-form .acf-button:hover { text-decoration: none; }

.acf-row { border-bottom: 4px solid grey; }
.acf-row:nth-last-of-type(2) { border-bottom: 1px solid #dfdfdf;  }

.custom-display { display: inline-block;float: none;margin-left: -4px;vertical-align: top; }
/* .custom-display:first-of-type { margin-left: 0; } */


/* FORGOT PASSWORD */
.micecon-forgotpass-form {  }
.micecon-forgotpass-form .button { width: 100%;float: right;border-radius: 0;padding-left: 20px;padding-right: 20px;padding: 10px 16px;font-size: 18px;line-height: 1.3333333;border-radius: 0;color: #fff;background-color: #5cb85c;border-color: #4cae4c;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;white-space: nowrap;touch-action: manipulation;display: inline-block;margin-bottom: 10px;font-weight: normal;text-align: center;vertical-align: middle; }
.micecon-forgotpass-form .button:hover { background-color: #449d44;border-color: #398439;color: #333;text-decoration: none; }
.forgotpass-warning { padding: 8px; }

/*------------------------------------------------------------------------------------------------------------------------------*/
/* END CONTENT STYLE  																											*/
/*------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------*/
/* START FOOTER STYLE 																											*/
/*------------------------------------------------------------------------------------------------------------------------------*/
#footer {  }

#contact-information-section { background: #148c9d;padding: 30px 0; }
#contact-information-section .bordered-title { margin-top: 0;margin-bottom: 25px;position: relative;color: #fff;letter-spacing: 2px;font-weight: 700;text-transform: uppercase; }
#contact-information-section .bordered-title:after { background-color: #fff; }
.footer-widget { list-style: none;margin: 0;padding: 0; }
.footer-widget-title { font-family: "Open Sans ",Helvetica,Arial,sans-serif;font-size: 20px;font-weight: 700;margin-bottom: 15px;padding-bottom: 0;text-transform: uppercase;color: #fff; }
.footer-widget p { color: #fff;font-size: 13px; }

#copyright { background-color: #e99734;padding: 20px; }
#copyright .copyright { margin-top: 12px; }
#copyright p { color: #fff;font-size: 13px;margin: 0; }
#copyright a { color: #fff;font-size: 13px;margin: 0;text-decoration: underline; }

/*------------------------------------------------------------------------------------------------------------------------------*/
/* END FOOTER STYLE 																											*/
/*------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------*/
/* START LOGIN STYLE 																											*/
/*------------------------------------------------------------------------------------------------------------------------------*/
#loginform { }
#loginform p.login-username label, #loginform p.login-password label { display:block; }
#loginform input[type="submit"]#wp-submit, .logoutbutton { width:100%; float: right;border-radius: 0;padding-left: 20px;padding-right: 20px;padding: 10px 16px;font-size: 18px;line-height: 1.3333333;border-radius: 0;color: #fff;background-color: #5cb85c;border-color: #4cae4c;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;white-space: nowrap;touch-action: manipulation;display: inline-block;margin-bottom: 10px;font-weight: normal;text-align: center;vertical-align: middle; }
#loginform input[type="submit"]#wp-submit:hover, #loginform input[type="submit"]#wp-submit:focus, .logoutbutton:hover, .logoutbutton:focus { color: #fff;background-color: #449d44;border-color: #398439;color: #333;text-decoration: none; }
#loginform input[type="text"],
#loginform input[type="password"] { height: 38px;width: 100%;padding: 3px 5px;resize: none;margin: 0;box-sizing: border-box;font-size: 14px; line-height: 15px; background-color: #fafafa;border: 1px solid #e9e9e9;box-shadow: none;outline: none;border-radius: 0;color: #888; }
/*------------------------------------------------------------------------------------------------------------------------------*/
/* END LOGIN STYLE 																											*/
/*------------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------------------------------*/
/* START CUSTOM MEDIA QUERY 																									*/
/*------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------*/
/* END  CUSTOM MEDIA QUERY 																										*/
/*------------------------------------------------------------------------------------------------------------------------------*/

/* james custom */
@media only screen and (min-width: 992px) {
	.col-md-5.sponsor-majorsponsors { width:36% !important; }
}

ul.sponsors-logos li:first-child { padding-left:0px !important; }
div.sponsors-sponsors ul.sponsors-logos li { padding: 0 15px; }

.banner-logos {
	position: absolute;
	right: 20px;
	bottom: 10px;
}
